# UI & Web Framework
streamlit>=1.30.0

# Core Mathematical Engine
numpy>=1.24.0

# Data Manipulation
pandas>=2.0.0

# 3D WebGL Rendering
plotly>=5.18.0

# Utility (Scaling & Splitting)
scikit-learn>=1.3.0